.Search_result{
    padding: 5px 10px;
    
    
}

.search_result:hover{
    background-color: #efefef;
    
}

.results_list{
    background-color: white;
    display:flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 10px;
    border: 0.5px solid #A8D5F2;
    /* margin-top: 1px; */
    /* margin-left:2rem; */
    margin: 0.5rem;
    width: 30%;
    position:fixed;
    overflow-y: scroll; 
    padding: 8px 20px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    z-index: 4;
}