.search_result {
    padding: 10px 15px;
}

.search_result:hover {
    background-color: #efefef;
}

.results_list {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 10px;
    border: 0.5px solid #A8D5F2;
    max-height: 250px;
    /* Controla la altura máxima y añade scroll */
    overflow-y: auto;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}