.center {
    display: flex;
    justify-content: center;
}

.article {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    margin-right: 9px;
}

.content {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* background-color: aquamarine; */
    /* gap: 2px 3px;  */
    /* grid:
        "item1" "item5" 1fr 
        "item2" "item5" 1fr 
        "item3" "item5" 2fr 
        "item4" "item5" 2fr
        / 0.5fr 0.7fr; */
    gap: 8px;
}

.column1 {
    background-color: transparent;
}

.column2 {
    background-color: transparent;
}

.row1, .row2, .row3, .row4{
    display:flex;
}


.btnLayout{
    margin-top:30px;
    padding-right: 10px;
    padding-left: 10px;;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.BtnLarge{
    width: 400px;
    margin-top: 10px;
}

.BtnsShort{
    width: 400px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.row3, .row4{
    min-width: 874px;
    min-height: 119px;
    flex-shrink: 0;
    border-radius: 15px;
    background: rgba(230, 139, 81, 0.69);
    stroke-width: 0.5px;
    stroke: #000;
    border: .5px solid #000;
    backdrop-filter: blur( 3.75px );
    -webkit-backdrop-filter: blur( 3.75px );
    -moz-backdrop-filter: blur( 3.75px );
    box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    margin-top: 5px;
}

.area1{
    margin-top: 5px;
}

.row4{
    min-height: 62px;
    align-items: center;
    margin-bottom: 10px;
}
