.center {
    display: flex;
    justify-content: center;
}

.article {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    margin-right: 9px;
}

.content {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* background-color: aquamarine; */
    /* gap: 2px 3px;  */
    /* grid:
        "item1" "item5" 1fr 
        "item2" "item5" 1fr 
        "item3" "item5" 2fr 
        "item4" "item5" 2fr
        / 0.5fr 0.7fr; */
    gap: 8px;
}

.column1 {
    background-color: transparent;
}

.column2 {
    background-color: transparent;
}

.row1, .row2 .row3{
    display:flex;
}


.btnLayout{
    margin-top:30px;
    padding-right: 10px;
    padding-left: 10px;;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

/* .item3 {
    grid-area: item3;
}

.item4 {
    grid-area: item4;
}

.item5 {
    grid-area: item5;
    
} */