.content {
    margin-top: 20px;
    display: grid;

    grid:
        "item1" auto "item2" auto "item3" auto / 1fr;
    gap: 8px;
}

.item1 {
    grid-area: item1;
}

.item2 {
    grid-area: item2;
    
}

.item3 {
    grid-area: item3;
}


.separate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* box-sizing: content-box; */
    border-radius: 15px;
    background: rgba(230, 139, 81, 0.69);
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 1px;
    padding-bottom: 7px;
    margin: 7px 9px;
    border: #000 1px solid;
    box-shadow: 6px 7px 1px 0px rgba(0, 0, 0, 0.25);
}

.center {
    display: flex;
    justify-content: center;
}

.article {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    margin-right: 9px;
}

.vertical_article{
    display: flex;
    flex-direction: column;
    /*justify-items: center;*/
    align-items: center;
    margin-top: 2px;
}

.inputDate_group {
    box-sizing: content-box;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    height: 63px;
    text-align: center;
    border-radius: 15px;
    background: rgba(230, 139, 81, 0.69);
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 1px;
    padding-bottom: 7px;
    margin: 7px 9px;
    border: #000 1px solid;
    box-shadow: 6px 7px 1px 0px rgba(0, 0, 0, 0.25);
}

.inputDate_group:hover .label, .input:focus {
    color: #ccc;
}

.styledSelect {
    display:flex;
    width: 100%; /* Adjust width as needed */
    padding: 10px; /* Add padding */
    
    
    border: 1px solid #ccc; /* Border style */
    border: 1px solid #05060f;
    border-radius: 4px; /* Rounded corners */
    background-color: #f9f9f9; 
    font-size: 16px; 
    
}

.label {
    display: block;
    margin-bottom: .1px;
    color: #05060f99;
    transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
    color: #FFF;
    text-shadow: 2px 2px 2px  rgba(0, 0, 0, 0.65);
    -webkit-text-stroke-width: thin;
    -webkit-text-stroke-color: #000000;
    font-family: "Lato", sans-serif;
    font-size: 19px;
    font-style:normal;
    font-weight: 700;
    line-height:normal;
}