@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.buttonLarge{
    display:flex;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #000000;
   
   /* background: radial-gradient(circle, rgba(81,97,230,1) 0%, rgba(213,81,230,1) 100%); */
    /* box-shadow: 6px 6px 4px 0px rgba(0, 0, 0, 0.25); */
}

.texts{
    color: #000000;
    text-align: center;
    font-family: "Roboto";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}