
.buttonLarge{
    display:flex;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #E65152;
    
    box-shadow: 6px 6px 4px 0px rgba(0, 0, 0, 0.25);
}

.bgViolet{
    background: linear-gradient(90deg, #5161E6 0%, #D551E6 100%);
}

.bgDisable{
    background: linear-gradient(90deg, rgba(29,30,32,1) 0%, rgba(164,163,164,1) 100%);
}

.bgRed{
    background: linear-gradient(90deg, #E65152 0%, #D551E6 100%);
    /* border: 1px solid #5161E6; */
}



.texts{
    
    color: #ffffff;
    text-align: center;
    font-family: "Roboto";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.divButton{
    display:flex;
    flex-direction: column;
    
    padding: 0 1rem;
    
}