.btn {
    width: 162px;
    height: 50px;
    background: linear-gradient(90deg, #E65152 0%, #E651AC 100%);
    border-radius: 15px;
    padding: 15px 25px;
    border: .5px solid #E65152;
    box-shadow: 8px 8px 4px 0px rgba(0, 0, 0, 0.35); 
    margin-left: 10px; 
}

.btRed{
    background: linear-gradient(90deg, #E65152 0%, #E651AC 100%);
}

.btnViolet{
    background: linear-gradient(90deg, #5161E6 0%, #D551E6 100%);
}

.btnGray{
    background: linear-gradient(90deg, rgba(29,30,32,1) 0%, rgba(164,163,164,1) 100%);
}

.btn:hover{
    border: .5px solid #5161E6;
}





.texts, .icon{
    color: #ffffff;
    text-align: center;
    font-family: "Roboto";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.texts:hover{
    color: #ccc;
}

