

.article{
    display: flex;
    max-width:400px;
}

.content{
    margin-top: 50px;
    display: grid;
    justify-content: center;
    

  grid:
    "item1 " auto
    "item2 " auto
    "item3 " auto
    "item4 " auto
    /  .5fr;
  gap: 40px;
    
}

.item1 { grid-area: item1; }
.item2 { grid-area: item2; }
.item3 { grid-area: item3; }
.item4 { grid-area: item4; }

.item5{
  color:red;
  background-color: yellow;
}






