.text_description{
    color: #FFF;
    text-align: center;
    -webkit-text-stroke-width: 0.5;
    -webkit-text-stroke-color: #000;
    font-family: "Roboto";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.article{
    display: flex;
    max-width:400px;
    
}

.content{
    margin-top: 200px;
    display: grid;
    justify-content: space-around;
    
    

    grid:
    "item1" auto
    "item2" auto
    "item3" auto
    /  .5fr;
    gap: 40px;
    
}

.item1 { 
    grid-area: item1;
    
    box-sizing: content-box;
    height: 63px;
    text-align: center;
    border-radius: 15px;
    background: rgba(230, 139, 81, 0.69);
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 1px;
    padding-bottom: 7px;
    margin: 7px 9px;
    border: #000 1px solid;
    box-shadow: 6px 7px 1px 0px rgba(0, 0, 0, 0.25);

}
.item2 { grid-area: item2; }
.item3 { grid-area: item3; }


